
#donation-container {
    display: inline-block;
    width: auto;
    border: solid 1px #333333;
    border-radius: 1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.15) 100%);
}
#donation-container a {
    color: #3E3E3E;
}
#donation-container a.disabled {
    pointer-events: none;
    opacity: 0;
}
#donation-container .qr-code.large {
    min-width: 350px;
    min-height: 350px;
}
#donation-container form {
    font-size: 0.85em;
}
#donation-container form p {
    font-size: 1em;
    margin-bottom: 0.25em;
}
#donation-container .input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-top: 1em;
}
#donation-container .input input {
    font-size: 1em;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
#donation-container form .input label.hidden {
    bottom: 2em;
}

