<div id="gift-card-amounts">
    <label for="amount-1"><input type="radio" name="gift-card-amount" id="amount-1" value="1"/>$1</label>
    <label for="amount-5"><input type="radio" name="gift-card-amount" id="amount-5" value="5"/>$5</label>
    <label for="amount-10"><input type="radio" name="gift-card-amount" id="amount-10" value="10"/>$10</label>
    <label for="amount-20"><input type="radio" name="gift-card-amount" id="amount-20" value="20"/>$20</label>
    <label for="amount-50"><input type="radio" name="gift-card-amount" id="amount-50" value="50"/>$50</label>
    <label for="amount-100"><input type="radio" name="gift-card-amount" id="amount-100" value="100"/>$100</label>
    <label for="amount-200"><input type="radio" name="gift-card-amount" id="amount-200" value="200"/>$200</label>
    <label for="amount-300"><input type="radio" name="gift-card-amount" id="amount-300" value="300"/>$300</label>
    <label for="amount-400"><input type="radio" name="gift-card-amount" id="amount-400" value="400"/>$400</label>
    <label for="amount-500"><input type="radio" name="gift-card-amount" id="amount-500" value="500"/>$500</label>
    <label for="amount-1000"><input type="radio" name="gift-card-amount" id="amount-1000" value="1000"/>$1000</label>
    <label for="amount-1500"><input type="radio" name="gift-card-amount" id="amount-1500" value="1500"/>$1500</label>
    <label for="amount-2000"><input type="radio" name="gift-card-amount" id="amount-2000" value="2000"/>$2000</label>
    <label for="amount-custom"><input type="radio" name="gift-card-amount" id="amount-custom" value="CUSTOM" checked/>Custom</label>
</div>
<div id="custom-amount-entry">
    <label for="amount-custom">Amount to Buy</label>
    <input type="text" name="gift-card-custom-amount" id="gift-card-custom-amount" value="2000"/>
</div>
