
div#gift-card-amounts {
    margin: 1em;
}

div#gift-card-amounts label {
    display: inline-block;
    min-width: 15%;
    white-space: nowrap;
    padding: 5px;
}

#custom-amount-entry label {
    display: block;
    margin-bottom: 2px;
}

