<div class="content">
    <h1>Receive Gift Cards for Bitcoin Cash (BCH)</h1>
    <p>Currently, only Amazon.com Gift Cards are supported.  Fill out the form below to receive an Amazon gift card for BCH!</p>

    <hr/>

    <form>
        <h2>Amazon.com Gift Cards*</h2>
        <p>Purchase an Amazon.com Gift Card with Bitcoin Cash.</p>
        <div id="disclaimer">
            <small>* Restrictions apply, see <a href="https://amazon.com/gc-legal">amazon.com/gc-legal</a>.</small>
        </div>
        <app-price-selector (priceSelectedEvent)="this.giftCardAmount = $event"></app-price-selector>
        <div>
            <label for="email-address">Email Address:</label>
            <input #email (keyup)="this.emailAddress = email.value" type="email" name="email-address" id="email-address" placeholder="user@example.com" required="required"/>
        </div>
        <div *ngIf="! this.shouldDisplayQrCode">
            <button type="button" (click)="getQrCode()">Purchase</button>
        </div>
        <div *ngIf="this.shouldDisplayQrCode">
            <app-purchase-qr-code></app-purchase-qr-code>
            <button type="button" (click)="this.shouldDisplayQrCode = false">Cancel</button>
        </div>
    </form>
</div>

<canvas id="canvas"></canvas>
