<div class="content">
    <h1>Receive Gift Cards for Bitcoin Cash (BCH)</h1>
    <p>Currently, only Amazon.com Gift Cards are supported.  Fill out the form below to receive an Amazon gift card for BCH!</p>

    <hr/>

    <form>
        <h2>Amazon.com Gift Cards*</h2>
        <p>Purchase an Amazon.com Gift Card with Bitcoin Cash.</p>
        <div id="disclaimer">
            <small>* Restrictions apply, see <a href="https://amazon.com/gc-legal">amazon.com/gc-legal</a>.</small>
        </div>
        <app-price-selector></app-price-selector>
        <div>
            <button type="button" type="button">Purchase</button>
        </div>
    </form>
</div>

<canvas id="canvas"></canvas>
